.green {

  background-color: green;

}

.blue {

  background-color: grey;

}

strong {
  background-color: grey;
  font-size: 25px;
}
.pink {
background-color: pink;
}

.jumbotron {
  text-align: left;
}
